<div class="container">
    <h1 #title appHighlighted>Contact</h1>
    <!-- Slider size:
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="loadSlider()">Load Slider</button>
    <button (click)="resetSlider()">Reset Slider</button>
    <div *ngIf="widthToSlider">
        <app-slider [width]="widthToSlider" (getAuthor)="getAuthor($event)"></app-slider>
    </div>
    <div *ngIf="author">
      {{author.name + ' ' + author.lastname + ' ' + author.github}}
    </div> -->
</div>
