section {
    padding: 90px 50px 50px 50px;
}

h1 {
    font-size: 1.3em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.container .image {
    float: left;
    width: 100%;
}

.container .image img {
    width: 100%;
}

.container .data {
    float: right;
    width: 100%;
}

.container .margin {
    margin-left: 25px;
}

img {
    height: 100%;
    padding-bottom: 25px;
}

.button-edit ,
.button-delete {
    width: 40%;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.button-edit {
    background: linear-gradient(45deg,#CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
}

.button-delete {
    background: linear-gradient(45deg,#CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
}